* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  color: #ee2b7b;
}

form {
  display: flex;
  flex-direction: column;
  background-color: rgb(246, 245, 245);
  padding: 20px;
  border-radius: 20px;
}

form input {
  height: 20px;
  border: 2px solid rgb(165, 165, 165);
  border-radius: 5px;
  margin-bottom: 10px;
}

form input[type="submit"]{
  border: none;
  background-color: #ee2b7b;
  color: white;
  height: 20px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
}

.error {
  color: rgb(234, 80, 80);
  border: 2px solid rgb(234, 80, 80);
  padding: 2px 4px;
}